<div class="navigation">
  <a [routerLink]="'home'">
    <button mat-icon-button color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>home</mat-icon>
    </button>
  </a>

  <a [routerLink]="'task/add'">
    <button mat-icon-button color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>note_add</mat-icon>
    </button>
  </a>

  <a [routerLink]="'home'">
    <button mat-icon-button color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>calendar_today</mat-icon>
    </button>
  </a>

  <a [routerLink]="'delete'">
    <button mat-icon-button color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
  </a>
</div>
